@media screen and (min-width: $md) {
  .hero {
    background-image: none;
  }
}

@media screen and (min-width: $lg) {
  .competitors {
    &-bg {
      background-image: url("../assets/svg/competitors-bg.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .card {
    box-shadow: 6px 6px 0px 0px $blue-shadow;
  }

  .active-shadow {
    box-shadow: 6px 6px 0px 0px $blue;
  }

  .ready-to-try {
    svg {
      width: 187px;
      height: 65px;
    }
  }

  .plans {
    background-image: url("../assets/svg/plans-Stroke.svg");
    background-position: top;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: $xl) {
  .text-18 {
    font-size: 1.125rem;
  }

  .plans {
    &-wrap {
      background-color: #fff;
      border: 1px solid $grey400;
      border-radius: 8px;
      box-shadow: 5px 5px 0 0 $blue-shadow;
    }
    .card {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
