@mixin square-text-position {
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 1px solid $blue;
}

@mixin btn-style($width, $border-radius) {
  width: $width;
  border-radius: $border-radius;
}

@mixin btn-style-hover {
  color: #ffffff;
  border: 1px solid $grey700;
  background-color: $grey700;
}
