// colors
$blue: #3a83f6;
$blue-secondary: #8fb4f1;
$blue-shadow: #c0d9ff;
$blue-select: #2c6ed5;
$blue-border: #e2e9fc;
$blue-badge: #f3f8ff;
$blue-table: #518ff1;
$blue-dot: #d8e6fd;
$grey400: #8b929a;
$grey700: #3e4957;
$white-border: #dde0e4;
$grey-dark: #353f4b;
$border-color: #4a5360;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
