@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(600.39% 110.7% at 10.01% 0%, #ebf3ff 0%, #fff 13.5%, rgba(229, 240, 255, 0.38) 26.9%, #fff 40.16%, rgba(229, 240, 255, 0.47) 61.7%, #fff 79.17%), #fff;
  color: #3e4957;
}

.ff-roboto {
  font-family: "Roboto", sans-serif;
}

.border-dash {
  border-style: dashed;
  color: #3a83f6;
}

.text-color-grey {
  color: #8b929a;
}

.text-color-blue {
  color: #e2e9fc;
}

.title-h3 {
  line-height: 1.8;
  letter-spacing: 7px;
  color: #8fb4f1;
}

.btn-primary,
.btn-light,
.btn-outline-primary {
  width: 281px;
  border-radius: 4px;
}
.btn-primary:hover,
.btn-light:hover,
.btn-outline-primary:hover {
  color: #ffffff;
  border: 1px solid #3e4957;
  background-color: #3e4957;
}

.bg-blue {
  background-color: #3a83f6;
}

.bg-grey {
  background-color: #3e4957;
}

.form-select-sm,
.text-btn-blue {
  color: #3a83f6;
}

.border-color {
  border-color: #3e4957;
}

.border-bottom-color {
  border-bottom: 1px solid #4a5360;
}

.hero {
  background-image: url("../assets/svg/hero-stroke.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.square,
.square2,
.square3,
.square4 {
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border: 1px solid #3a83f6;
}

.square {
  top: 0;
  left: 0;
}

.square2 {
  top: 0;
  right: -5px;
}

.square3 {
  bottom: -5px;
  right: -5px;
}

.square4 {
  bottom: -5px;
  left: 0px;
}

.card {
  border-color: #3e4957;
  box-shadow: 4px 4px 0px 0px #c0d9ff;
}

.active-shadow {
  box-shadow: 4px 4px 0px 0px #3a83f6;
}

.table th,
td,
.carousel-caption {
  color: #3e4957;
}

.accordion-item {
  border-color: #8b929a;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid #8b929a;
}
.accordion-button {
  color: #3e4957;
  line-height: 1.8;
}
.accordion-button:hover {
  color: #4a5360;
}
.accordion-body {
  border-top: 1px solid #dde0e4;
}

.carousel-item {
  border: 1px solid #e2e9fc;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  background-color: #d8e6fd;
}
.carousel-indicators .active {
  background-color: #3a83f6;
}

.ready-to-try {
  background-image: url("../assets/svg/ready-stroke.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.ready-to-try svg {
  width: 137px;
  height: 35px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: none;
  }
}
@media screen and (min-width: 992px) {
  .competitors-bg {
    background-image: url("../assets/svg/competitors-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card {
    box-shadow: 6px 6px 0px 0px #c0d9ff;
  }
  .active-shadow {
    box-shadow: 6px 6px 0px 0px #3a83f6;
  }
  .ready-to-try svg {
    width: 187px;
    height: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .text-18 {
    font-size: 1.125rem;
  }
}